{{ define "front/detail.tmpl" }}
	{{template "header" .}}
    	<div class="col-12" id="main" role="main">
            <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                <div class="page-header">
                    <div class="post-header" >
                        <h2 class="page-title text-center">xxxxxxxxxxx</h2>
                        <hr>
                    </div>
                </div>
                <div class="page-content markdown-body" itemprop="articleBody" style="">
                    xxxxxx
                </div>
            </article>
        </div>
	{{template "footer" }}
{{ end }}

