{{ define "admin-footer" }}
        <a class="to-top" style="z-index: 1200;">
            <img src="/static/images/top.svg" alt="返回顶部" title="返回顶部">
        </a>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <footer id="footer" role="contentinfo">
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}

